<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<title>
  {{ config.title }}
</title>

<link rel="canonical" href="{{ current_url | safe }}" />

<meta property="og:site_name" content="{{ config.title }}" />
<meta property="og:title" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="#" />

<meta name="description" content="#" />
<meta property="og:description" content="#" />

<link rel="icon" href="/favicon.ico">

<link rel="stylesheet" href="/fonts/Inter/inter.css" async />
<link rel="stylesheet" href="/fonts/Oswald/fontface.css" async />
<link rel="stylesheet" href="/assets/bundle.css" async />
