{%- set title = config.title -%}
{%- set description = "" -%}

{%- if current_path and current_path == "/" -%}
  {%- set title = config.title -%}
{%- elif section.title -%}
  {%- set title = title ~ " - " ~ section.title -%}
{%- elif page.title -%}
  {%- set title = title ~ " - " ~ page.title -%}
{%- endif -%}

{%- if section.description -%}
  {%- set description = section.description -%}
{%- elif page.title -%}
  {%- set description = page.description -%}
{%- endif -%}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<title>{{ title }}</title>

{%- if current_url -%}
<link rel="canonical" href="{{ current_url | safe }}" />
{%- endif -%}

<meta property="og:site_name" content="{{ config.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ config.base_url }}" />
<meta name="og:title" content="{{ title }}" />

<meta name="description" content="{{ description }}" />
<meta property="og:description" content="{{ description }}" />

<link rel="icon" href="/favicon.ico">

<link rel="stylesheet" href="/fonts/Inter/inter.css" />
<link rel="stylesheet" href="/fonts/Oswald/fontface.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" async>
<link rel="stylesheet" href="/assets/bundle.css" async />
<script defer data-domain="jota.one" src="https://plausible.io/js/plausible.js"></script>


<script>
  (function() {
    var interval = null

    function fontLoadListener() {
      var hasLoaded = false

      try {
        hasLoaded = ['Inter'] // document.fonts.check returns false with 'Oswald'...
          .map(fontName => document.fonts.check('12px "'+fontName+'"'))
          .reduce((sum, curr) => sum && curr, true)
      } catch(error) {
        console.info("CSS font loading API error", error)
        fontLoadedSuccess()
        return;
      }
      
      if(hasLoaded) {
        fontLoadedSuccess()
      }
    }

    function fontLoadedSuccess() {
      if(interval) {
        clearInterval(interval)
      }

      document.querySelector('body > main').classList.add('ready')
    }

    interval = setInterval(fontLoadListener, 50)
  })()
</script>