{% set section = get_section(path="_index.md") %}
<div class="container">
  <button class="handler" onclick="body.classList.toggle('navigate');document.querySelector('.tooltip').classList.remove('visible')">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="tooltip">
    You might want
    <br>
    to click here...
  </div>
  <ul>
    {%- for page in section.pages -%}
      <li>
        {%- if current_path and page.path == current_path -%}
          {{ page.title }}
        {%- else -%}
          <a class="link" href="{{ page.path }}">
            {{ page.title }}
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</div>

<script>
  setTimeout(function() {
    if (window.location.pathname !== '/') {
      return
    }
    
    if (document.body.classList.contains('navigate')) {
      return
    }
    
    document.querySelector('.tooltip').classList.add('visible')
  }, 3000)
</script>