:root {
  --s-container-max-width: 1350px;
  --s-header-height: 80px;

  @media (--s) {
    --s-header-height: 93px;
  }

  @media (--l) {
    --s-header-height: 103px;
  }

  @media (--l) {
    --s-header-height: 118px;
  }
}