article {
  margin-top: var(--s-header-height);
  padding: 1.5rem 0;

  @media (--m) {
    padding-top: 2.5rem;
  }

  @media (--l) {
    padding-top: 3rem;
  }
}

#content {
  display: flex;
  opacity: 0;
  padding-top: 2rem;
  transition: opacity 0.2s linear;

  body.init & {
    opacity: 1;
  }
}

#aside {
  display: flex;
  flex-direction: column;

  j-nav {
    display: block;
  }
}

main {
  flex: 1;
  column-count: 2;
  column-gap: 2rem;

  p:first-child {
    margin-top: 0;
  }
}