{%- set cssSection = [] -%}
{%- set cssContainer = [] -%}

{% if centerH %}
  {%- set cssContainer = cssContainer | concat(with="center-h") %}
{% endif %}

{% if centerV %}
  {%- set cssContainer = cssContainer | concat(with="center-v") %}
{% endif %}

{%- set cssSectionStr = cssSection | join(sep=" ") -%}
{%- set cssContainerStr = cssContainer | join(sep=" ") -%}

<section class="{{ cssSectionStr }}">
  <div class="container {{ cssContainerStr }}">
    {%- if body != "&nbsp;" -%}
      {%- if title -%}
        <h2 id="{{ title | slugify }}">
          {{ title | markdown | safe }}
        </h2>
      {%- endif -%}
      {%- if not isFull -%}
        <div class="row">
      {%- endif -%}
      {%- for col in body | split(pat="---") -%}
        <div class="col">
          {{ col | markdown | safe }}
        </div>
      {%- endfor -%}
      {%- if not isFull -%}
        </div>
      {%- endif -%}
    {%- endif -%}
  </div>
</section>