{% set chat = load_data(path="data/chat/" ~ id ~ ".json") -%}

<section class="chat">
  <div class="container center-h">
    <div class="col">
      <ul>
        {%- for item in chat.discussion -%}
          <li {% if item.isSender %}class="sender"{% endif %}>
            <div class="avatar" title="{{ chat.users[item.user].name }}">
              {{ chat.users[item.user].avatar | markdown | safe }}
            </div>
            <div class="message">
              {{ item.msg | markdown | safe }}
            </div>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</section>