html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

* {
  box-sizing: border-box;
}

/* Texts */
h1, h2, h3, h4 {
  font-family: Oswald, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

h5, h6 {
  font-family: 'Assistant', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  margin: 0 0 3rem;
  font-size: 2rem;
  color: rgb(0,28,100);
}

@media screen and (min-width: 1024px) {
  h4 {
    margin: 0 0 4rem;
    font-size: 2.75rem;
  }
}

h4.secondary {
  color: rgb(81,161,255);
}

h4 b {
  font-weight: 400;
}

p {
  line-height: 1.4;
}

/* Lists */
ul {
  list-style-type: '­–  ';
  padding: 0 1rem;
}

li {
  margin-top: .5rem;
}

/* Links */
a {
  display: inline-flex;
  align-items: center;
  padding: .5rem .75rem;
  margin-left: -.5rem;
  font-family: Oswald, sans-serif;
  text-decoration: none;
  color: rgb(193,29,197);
  border-radius: .25rem;
  transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

p a {
  padding: 0 .25rem;
  margin: 0;
  font-family: inherit;
}

a:hover {
  color: white;
  background-color: rgb(193,29,197);
}

a.link {
  display: inline-flex;
  margin: .5rem 0;
  padding: .5rem 1rem .875rem;
  font-size: 1.75rem;
  line-height: 1.75rem;
  border-radius: .5rem;
}

a.link .icon {
  margin: .3rem .5rem 0 -1rem;
  width: 2rem;
  height: 2rem;
  fill: rgb(193,29,197);
  transition: fill .25s ease-in-out;
}

a.link:hover .icon {
  fill: white;
}

a.link .icon rect {
  transition: width .125s ease-in-out, x .125s ease-in-out;
}

a.link:hover .icon rect {
  width: 0;
  x: 17px;
}

/* Layout */
.row {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .row {
    flex-direction: row;
  }
}

.col {
  flex: 1;
  padding: 3rem 4rem;
}

.col:nth-child(3) {
  padding-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .col {
    padding: 4rem 6rem;
  }

  .col:nth-child(3) {
    padding-top: 4rem;
  }
}

.col.image {
  padding: 0;
}

/* Section */
section {
  overflow: hidden;
}

section.highlight .mask {
  height: 38rem;
}

section.highlight .mask img {
  width: 50rem;
  min-width: 100%;
}

@media screen and (min-width: 1024px) {
  section.highlight .mask {
    height: 53rem;
  }

  section.highlight .mask img {
    width: 78rem;
  }
}

section.highlight .col:first-of-type {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  section.highlight .col:first-of-type {
    min-width: 35%;
    padding-right: 1rem;
  }
}

section.highlight h3 {
  top: 1.25rem;
}

section.highlight h4 {
  font-size: 2.85rem;
}

@media screen and (min-width: 1024px) {
  section.highlight h3 {
    top: 3.25rem;
  }

  section.highlight .col:first-of-type {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

section.focus {
  color: white;
  background-color: rgb(0,28,100);
}

section.focus h4 {
  color: white;
}

section.focus h4.secondary {
  color: rgb(81,161,255);
}

section h3 {
  position: absolute;
  top: 3.25rem;
  right: calc(100% - 1.75rem);
  margin: 0;
  padding: 0;
  font-size: .85rem;
  font-weight: 500;
  color: rgb(81,161,255);
  transform: rotate(270deg);
  transform-origin: top right;
  opacity: .85;
}

@media screen and (min-width: 1024px) {
  section h3 {
    top: 4.5rem;
    right: calc(100% - 2rem);
    font-size: 1rem;
  }
}

/* Mask */
.mask {
  overflow: hidden;
}

/* Header */
header .col {
  padding: 2rem;
}

header .col:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

h1 {
  margin: 0 0 .25rem;
  height: 1.6rem;
  width: 3.2rem;
  background-image: url(/assets/svg/jota.svg);
  background-repeat: no-repeat;
  background-size: 2.75rem;
}

h1 span { display: none; }

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  white-space: nowrap;
  color: rgb(81,161,255);
}

/* Navigation */
header nav {
  display: none !important;
}

@media screen and (min-width: 1024px) {
  header nav {
    display: flex !important;
  }
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav li {
  margin: 0 .25rem;
}

header nav a {
  font-weight: 300;
  font-size: 1.1rem;
  text-transform: uppercase;
}

header nav li.active a {
  font-weight: 500;
  color: rgb(0,28,100);
}

header nav li.active a:hover {
  color: white;
  background-color: rgb(0,28,100);
}

header nav li a.icon span {
  display: none;
}

header nav li a.icon svg {
  margin: -.125rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: rgb(193,29,197);
}

header nav li a.icon:hover svg {
  fill: white;
}

/* Product */
.row.product {
  padding-top: 3rem;
}

.row.product:last-of-type {
  padding-bottom: 4rem;
}

.row.product .col.image {
  order: 1;
  position: relative;
  padding-bottom: 2rem;
  margin-left: 3rem;
}

.row.product .col.image.left {
  padding-right: 0;
}

.row.product .col.image.right {
  padding-left: 0;
}

.row.product .col.image img {
  width: 100%;
  max-width: 35em;
}

.row.product .col.image a:hover {
  background: transparent;
}

.row.product .mask {
  height: 50vh;
  border-bottom: 1px solid rgba(81,161,255, .5);
}

.row.product .col.text {
  order: 2;
  padding-bottom: 0;
}

.row.product a.link {
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .row.product .col.image {
    max-width: calc(100% - 3rem);
    flex-shrink: 2;
  }

  .row.product .mask {
    height: 34rem;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .row.product .col.image {
    max-width: 37rem;
  }

  .row.product .col.text {
    order: 1;
    padding-top: 7rem;
  }
}

/* Footer */
footer {
  padding-bottom: 2rem;
}

footer h3 {
  margin-bottom: .5rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgb(0,28,100);
}

footer .col:last-of-type {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

footer .col:last-of-type a {
  margin-bottom: .3rem;
}

footer .col:last-of-type svg {
  fill: rgb(193,29,197);
}

footer .col:last-of-type a:hover svg {
  fill: rgb(255,255,255);
}