{{- $id := or (.Get 0) "" -}}
{{- $product := index .Site.Data.products $id -}}
<div class="product{{ if $product.hero }} hero{{ end }}{{ if $product.mirror }} mirror{{ end }}{{ if $product.mobileImage }} mobile-img{{ end }}">
  <div class="row">
    <div class="column">
      {{- if and $product.hero $product.title -}}
      <h4 class="title">{{- $product.title | markdownify -}}</h4>
      {{- end -}}
      {{- if $product.url -}}
      <a href="{{ $product.url }}" target="_blank" class="image-mask">
      {{- else -}}
      <div class="image-mask">
      {{- end -}}
        <div class="image-wrapper">
          <img src="{{ $product.image }}">
        </div>
        <div class="image-mask-gradient"></div>
      {{- if $product.url -}}
      </a>
      {{- else -}}
      </div>
      {{- end -}}
      {{- if $product.hero -}}
      <div class="text-mask">
        <div class="text-mask-bg"></div>
        <div class="text-wrapper">
          {{- if $product.subTitle -}}
          <h5 class="sub-title">{{- $product.subTitle | markdownify -}}</h5>
          {{- end -}}
          <div class="text-inner">
            {{- .Inner -}}
          </div>
        </div>
      </div>
      {{- end -}}
    </div>
    {{- if not $product.hero -}}
    <div class="column">
      {{- if $product.title -}}
      <h4 class="title">{{- $product.title | markdownify -}}</h4>
      {{- end -}}
      {{- if $product.subTitle -}}
      <h5 class="sub-title">{{- $product.subTitle | markdownify -}}</h5>
      {{- end -}}
      {{- .Inner -}}
    </div>
    {{- end -}}
  </div>
</div>