{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include "partials/head.html" %}
</head>

<body class="{{ macros::theme() }}">
  <header>
    {% include "partials/header.html" %}
  </header>
  <nav>
    {% include "partials/nav.html" %}
  </nav>
  <main>
    <article>
      <section>
        <div class="container">
          <div class="row">
            <div class="col">
              {% block product_logo %}{% endblock product_logo %}
              <h1>
                <span>
                  {% block title %}{% endblock title %}
                </span>
                {% block sub_title %}{% endblock sub_title %}
              </h1>
              {% block meta %}{% endblock meta %}
            </div>
            {%- if current_path and current_path != "/" -%}
              <div id="hero" class="col">{% block hero %}{% endblock hero %}</div>
            {%- endif -%}
          </div>
        </div>
      </section>
      {% block content %}{% endblock content %}
    </article>
  </main>
  <footer>
    {% include "partials/footer.html" %}
  </footer>

  <script src="/assets/bundle.js"></script>
</body>

</html>