{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% include "partials/head.html" %}
</head>

<body class="{{ macros::theme() }}">
  <header>
    {% include "partials/header.html" %}
  </header>
  <div id="nav-handler" onclick="body.classList.toggle('navigate')">
    <button>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <nav>
    {% include "partials/nav.html" %}
  </nav>
  <article>
    <main>
      <section class="top {% if current_path and current_path == "/" %}full{% else %}left{% endif %}">
        {% block product_logo %}{% endblock product_logo %}
        <h1>
          <span>
            {% block title %}{% endblock title %}
          </span>
          {% block sub_title %}{% endblock sub_title %}
        </h1>
        {% block meta %}{% endblock meta %}
      </section>
      {%- if current_path and current_path != "/" -%}
      <section id="hero" class="top right">
        {% block hero %}{% endblock hero %}
      </section>
      {%- endif -%}
      {% block content %}{% endblock content %}
    </main>
  </article>
  <footer>
    {% include "partials/footer.html" %}
  </footer>

  <script src="/assets/bundle.js"></script>
</body>

</html>